<section class="featured-section">
  <h2 class="featured-product-title">Featured Product</h2>
  @if (loading()) {
    <div class="loading">
      Cargando productos destacados...
    </div>
  }
  
  @if (!loading() && featuredProducts().length > 0) {
    <app-product-list 
      [products]="featuredProducts()"
      [title]="'Featured Products'"
      [showButtons]="false"
      [showStars]="true">
    </app-product-list>
  }
  
  @if (!loading() && featuredProducts().length === 0) {
    <div class="no-products">
      No hay productos destacados disponibles.
    </div>
  }
</section>